/*Elementos generales*/
body{
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
}
footer{
    margin: 30px auto 0px auto;
    text-align: center;
    width:800px;
}
main{
    display: flex;
    margin: 30px auto 0px auto;
    width: 1000px;
    height: 800px;
}
img{
    padding: 7px 7px 7px 7px;
}
form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    display: inline;
    font-family: 'Poppins', sans-serif;
    width: 185px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 200;
    font-size: 18px;
}
select{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    font-weight: 200;
    font-size: 18px;
}
input[type="submit"]{
    background-color: #fd0c49;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
}
p{
    font-weight: 100;
    font-size: 14px;
}
footer{
    font-weight: 100;
}

/*Selectores Juego*/
.inputJuego{
    border-radius: 5px;
    width: 230px;
}
.containerItem{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    min-height: 75px;
    border-radius: 5px;
}


#contenedorJuego{
    width: 650px;
    margin-right: 10px;
    height: auto;
    
}
#avatarImg{
    float:left;
    border: 1px solid #ced4da;
    padding: 9px;
    border-radius: 5px 0px 0px 5px;
}
#juego{
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 600px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px 5px 0px 0px;
    padding: 20px, 20px, 20px, 20px;
    
}
.juegoAcabadoColor{
    background-color: #263238;
    transition: background-color 0.4s;
}

.hiddenitem{
    
    position: absolute;
    padding: 7px 7px 7px 7px;
    transition: opacity 0.5s ease-in-out; /* Duración de 0.5 segundos */
    opacity: 0; /* Inicia transparente */
    position: absolute; /* Necesario para aplicar z-index */
    z-index: 1; /* z-index inicial */
    
}

.item{
    z-index: 2;
    padding: 7px 7px 7px 7px;

}

#juegoAcabado, #juegoGanado{
    z-index: 1;
    position: absolute; /* Cambiado de absolute a relative */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 5px 5px 0px 0px;
    width: 600px;
    height: 800px;
}
#juegoAcabado button, #juegoGanado button{
    
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 200px;
    z-index: 1; /* Asegura que el botón esté sobre la imagen */
}

#tituloJuego{
    margin-top: 400px;
    width: 500px;
    background-color: #263238;
    border: 1px solid #ced4da;
    border-radius: 0px 0px 5px 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
}
#tituloJuego p{
    font-size: 24px;
    font-weight: 400;
}
#contenedorUsuario{
    width: 290px;
}

#juegoAcabado img, #juegoGanado img {

    /* Esconde la imagen por defecto */
    display: none;
    position: absolute;
    width: 100%; 
    max-width: 800px; 
    align-self: center; 
    order: -1; /* Asegura que la imagen aparezca al inicio */
    z-index: 0; /* Pone la imagen detrás de los otros elementos */
}
  
#juegoGanado h1 {
    color: rgb(44, 43, 43);
    font-size: 24px;
    font-weight: 900;
    margin: 0; 
    z-index: 1; 
}
#juegoAcabado h1{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    margin: 0; 
    z-index: 1; 
}
